<a href="https://colab.research.google.com/github/Kavyashree26122004/codsoft-intern/blob/main/Titanic%20Survival%20Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("-------------------------- DATA LOADING ---------------------------")
import pandas as pd
datak=pd.read_csv("Titanic_k.csv")
print("\n",datak)

-------------------------- DATA LOADING ---------------------------

      PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [ ]:
print(" ----------------------------- DATA PREPROCESSING ------------------------------ ")
datak.isna()

 ----------------------------- DATA PREPROCESSING ------------------------------

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,False,True,False,False,False,False,True,False

In [ ]:
from sklearn import preprocessing
s = preprocessing.LabelEncoder()
datak["Name"] =s.fit_transform(datak["Name"])
datak["Name"].unique()

array([206, 403, 269, 408, 178, 366,  84,  57,   4, 103, 187, 196, 352,
       184,  69, 415, 204,  21, 188,  20, 324, 284, 138, 406, 329, 318,
       288,  97,  44, 339, 236, 190, 109, 195, 264, 203, 323,  55, 342,
       170, 202, 148, 158,  88, 212, 300,  72, 345,  53,  92, 348, 309,
       179, 144, 247, 314,  86,   2, 106,  71, 115, 255,  36,  43, 327,
        89,  54, 265, 378, 145, 267, 263, 275, 289, 152, 205, 261,  90,
         6, 121,  40, 363,  66, 111, 221, 209,  27,  25, 281, 392, 129,
       299, 101, 163,  35, 369,  68, 244,  45, 271, 360, 391, 141, 192,
       373, 182,  52, 326, 405, 367, 358, 346, 133,  51, 364,  75, 371,
       341,  28,  70, 390, 211, 343,  65, 207,  94,  47, 254,  42, 303,
       357, 161, 225, 370, 116,  62, 411, 344, 122, 160, 159, 100, 328,
        29, 227, 379, 175, 102,  93, 220, 130, 250, 362, 217,  17, 126,
        34, 237,  38, 297, 350, 376, 410, 298, 301, 215,  46, 143,  67,
       171, 233, 412, 128, 375,  18,  48, 347, 359,  31,  82, 256,  81,
       249, 222, 119, 251, 304, 104, 334, 381,  13, 338, 417, 232, 123,
       200, 354, 277,  26, 311, 268,  99,  23, 310,  11, 286, 257,  80,
       321, 110,   8, 137, 107, 185,   9, 169, 242, 399, 401, 374, 127,
       312,  85, 199,  59, 266,  19, 259, 134, 180, 368, 404, 402, 230,
        96, 382, 389,  24, 176, 120, 229,  74, 355, 186, 194, 208, 201,
       124, 181, 210, 395,   3,  76, 337, 394, 240, 243, 276,  32, 260,
       414, 278, 393, 216, 308, 239,  73, 388, 183, 306, 252, 146,  77,
       226, 330,  50, 293, 135, 385, 290, 287, 295, 139, 377, 320, 113,
       147, 351, 248, 142, 313,  98, 272, 117, 409,  12, 223, 340, 235,
       193, 285, 245, 305, 307, 253,  95,   7,   5, 168, 165,  56, 380,
       331,  63, 398, 164, 356, 319, 197, 191,  10, 218, 274, 325, 219,
        22,  30, 322,  78, 132, 105, 125, 372, 270,  87, 241, 413, 131,
       112,  33, 136, 238, 335,  61, 416,   1,  39, 396, 157, 383, 162,
       361, 114, 174, 108, 198,  49, 234, 282, 228, 333, 246, 387, 365,
       167, 336,  60, 315, 154, 291, 156, 407, 189, 166, 118,  41, 213,
        91, 177,  16, 280, 140, 317, 258, 397, 173,  14,  15,  58, 292,
       294, 231,   0, 155, 214, 349,  79, 150, 224,  83,  37, 151, 153,
        64, 149, 279, 386, 400, 316, 296, 273, 262, 172, 353, 283, 332,
       384, 302])

In [ ]:
datak["Sex"] =s.fit_transform(datak["Sex"])
datak["Sex"].unique()

array([1, 0])

In [ ]:
datak["Ticket"] =s.fit_transform(datak["Ticket"])
datak["Ticket"].unique()

array([152, 221,  73, 147, 138, 261, 158,  84, 100, 269, 195, 259,  52,
        74, 362, 343,  60, 119, 356, 120, 316, 277, 314, 313, 319, 273,
        14, 121,  11, 104, 338, 283, 280, 360,  34, 115, 166, 141, 172,
        39, 204,  16, 347,  65,  24, 355, 312, 243,  30, 290,  37, 344,
       131,  49, 335, 249, 198, 191, 253, 199,  64, 185, 159, 300, 155,
        22,  89, 250, 194, 137, 306,  13, 219,  28,  85, 236, 111, 303,
        47, 201,  72, 102, 150, 268, 224, 130, 179, 168, 297, 246,  38,
       209,  46, 354, 190, 266,  29,  57, 227, 178,  92, 278, 153, 252,
       163,  83,  68, 156, 304, 149, 113, 114, 328,  33, 337, 286, 232,
       255, 237, 245, 210, 231,  51, 164, 357,  17, 256,  90, 196, 216,
        99,  81, 353, 294,  18,  78,  43, 171,  41, 336,  20,  88,  26,
       203, 239, 214, 181, 332, 189,   1, 351, 161,  94,  54, 167,  66,
       146, 310, 361,  45, 262, 331, 106, 108, 134, 285,  58, 322,  59,
        15, 263, 305,  71, 330, 270, 296, 126,  56,   3, 274,  61, 125,
       187,  40, 177, 284, 257, 229, 183, 323,  93, 287, 298, 264, 123,
       320, 202, 348, 333, 186,   9, 154, 238, 148, 340, 165, 359, 211,
       317, 103, 212, 241, 293,  76,  55,  21, 135, 157, 315, 218,   2,
       112,  87, 327,   6,  70, 175,  42, 107, 289, 352,  35, 260, 174,
       291, 276, 222, 127, 169, 170, 217, 288, 200,   4, 292, 265, 144,
       235, 242, 110,  62, 334, 133, 295, 358, 140, 226, 240, 272, 350,
        98, 271, 318, 248,  95, 162, 173, 193, 345,  23, 188, 182,  69,
       143, 251,   8, 254,  32, 208, 142, 101, 302, 233, 326, 275, 307,
       122, 215, 180,  97,  80,  19,  75, 349, 309,  50,  63, 308, 116,
        96, 197,   0,  79, 109,  91, 279, 213, 321, 192,  67, 117,  82,
       299, 325, 301,  10,  27,  31, 234, 206, 329, 139,  25, 118, 136,
         7, 339, 124,   5,  86, 145, 132, 258, 230, 151, 223, 247, 341,
       207,  77, 225, 205, 311, 281, 282, 244,  36, 176,  53, 128,  12,
        44, 342, 129, 160, 228,  48, 184, 267, 324, 346, 220, 105])

In [ ]:
datak["Embarked"] =s.fit_transform(datak["Embarked"])
datak["Embarked"].unique()

array([1, 2, 0])

In [ ]:
datak["Cabin"] =s.fit_transform(datak["Cabin"])
datak["Cabin"].unique()

array([76, 12, 60, 15, 10,  2, 41, 55, 50,  5, 49, 30, 28, 71, 17, 35, 59,
       25, 26, 21, 37, 19, 33, 24, 68,  3, 75, 38, 29, 34, 64, 36, 46, 52,
        6, 74, 63, 66, 54, 16, 61, 39,  0,  7, 42, 73, 43, 56, 44, 51, 45,
       69,  4, 47,  9, 27, 18, 31, 20, 70, 72,  1, 23, 13, 48, 67, 65, 62,
       14, 32,  8, 53, 11, 40, 58, 57, 22])

In [ ]:
datak["Age"] =s.fit_transform(datak["Age"])
datak["Age"].unique()

array([44, 60, 74, 34, 27, 17, 38, 32, 22, 26, 79, 59, 29, 75, 30, 45, 58,
       67, 12, 61, 63, 28, 54, 42, 23, 31, 51, 71, 46, 25, 35, 13, 21, 40,
       16, 39, 37, 36, 41,  9, 77, 62,  6, 78, 56, 20,  5, 15, 55, 65, 33,
       52, 73, 72, 10, 19, 66, 76, 48, 43, 14, 11,  1, 49, 68, 53,  4, 24,
       47,  2,  3, 69,  0, 70, 18, 57,  8, 64,  7, 50])

In [ ]:
datak["Fare"] =s.fit_transform(datak["Fare"])
datak["Fare"].unique()

array([ 24,   5,  41,  34,  46,  37,  14, 100,   8,  89,  29,  93, 149,
       135,  96,  47,   7,  30, 133,   1, 108, 136, 166,  61, 137, 104,
        82, 106,  79,  88, 132,  31,  40, 131,  51,  94,  25,  50, 128,
       102,  19, 145,  71, 134,  62,  86, 167,  68, 101,  15,  73,  52,
        17,  80,  27, 118,  99, 162,  91,  65, 163,  43,  59,  56,  20,
       127,  22, 146,  26, 130,  33,  85,  23,  35,  63,  21, 107,  10,
         2,  74, 143,  70,   9,  87,  98,  90, 121, 159,  76, 126, 150,
       169,  45, 105,  11,  53,  18,  83, 124, 110,  36, 113, 111, 129,
       165,  72, 140, 109, 155,  42,  32,  66,  58, 164,  92,   6, 142,
       119, 160,  54,  95,  64, 139,   3, 141, 144, 153, 103,  28,  97,
       157,  38,  75,  48,   0,  77, 115,   4, 148, 117, 120,  39, 152,
        57,  12, 156, 158, 161, 147,  69,  13, 168, 138, 125,  67, 112,
        60, 116,  44, 123,  49,  81, 114,  78, 122,  55,  16, 151, 154,
        84])

In [ ]:
print("**************** FEATURES *******************")
x = datak.iloc[:,:-1].values
print("\n",x)

**************** FEATURES *******************

 [[ 892    0    3 ...  152   24   76]
 [ 893    1    3 ...  221    5   76]
 [ 894    0    2 ...   73   41   76]
 ...
 [1307    0    3 ...  346    9   76]
 [1308    0    3 ...  220   31   76]
 [1309    0    3 ...  105   84   76]]

In [ ]:
print("******************** TARGET *********************")
y = datak["Pclass"]
print("\n",y)

******************** TARGET *********************

 0      3
1      3
2      2
3      3
4      3
      ..
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 418, dtype: int64

In [ ]:
print(" ********************* DATA SPLITTING ************************* ")
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,shuffle=True)
print("--------------------------- X-Train ---------------------------")
print("\n",x_train)

 ********************* DATA SPLITTING *************************
--------------------------- X-Train ---------------------------

 [[1288    0    3 ...  244    9   76]
 [1172    1    3 ...  140   34   76]
 [1269    0    2 ...  132   44   76]
 ...
 [1113    0    3 ...  165   31   76]
 [1044    0    3 ...  239  169   76]
 [1260    1    1 ...    7  133   76]]

In [ ]:
print(" --------------------------X- Test ----------------------------")
print(x_test)

 --------------------------X- Test ----------------------------
[[1182    0    1 ...  318  115   76]
 [1216    1    1 ...   75  161   76]
 [1002    0    2 ...   68   63   76]
 ...
 [1040    0    1 ...   20   94   76]
 [ 998    0    3 ...  153   23   76]
 [1011    1    2 ...  337   93   76]]

In [ ]:
print(" --------------------------- Y-Train ----------------------------")
print(y_train)

 --------------------------- Y-Train ----------------------------
396    3
280    3
377    2
362    2
94     1
      ..
31     2
382    3
221    3
152    3
368    1
Name: Pclass, Length: 292, dtype: int64

In [ ]:
print(" --------------------------Y- Test ----------------------------")
print(y_test)

 --------------------------Y- Test ----------------------------
290    1
324    1
110    2
157    3
278    2
      ..
80     3
367    3
148    1
106    3
119    2
Name: Pclass, Length: 126, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
l=LogisticRegression()
l.fit(x_train, y_train)
pred=l.predict(x_test)
print("---------------------- LOGISTIC REGRESSION ------------------------")

---------------------- LOGISTIC REGRESSION ------------------------

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
print("Confusion Matrics for Logistic Regression:")
from sklearn.metrics import confusion_matrix
print("\n",confusion_matrix(y_test,pred))

Confusion Matrics for Logistic Regression:

 [[27  6  1]
 [ 0 13 15]
 [ 1  7 56]]

In [ ]:
from sklearn.metrics import classification_report
print("**************************************************************")
print("\tClassification Report for Logistic Regression:")
print("\n",classification_report(y_test,pred))
print("**************************************************************")

**************************************************************
	Classification Report for Logistic Regression:

               precision    recall  f1-score   support

           1       0.96      0.79      0.87        34
           2       0.50      0.46      0.48        28
           3       0.78      0.88      0.82        64

    accuracy                           0.76       126
   macro avg       0.75      0.71      0.73       126
weighted avg       0.77      0.76      0.76       126

**************************************************************